<%= provide(:title, 'Edit User') %>

<div class="edit">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Edit User</h3>
            <%= form_for(@user) do |f| %>
                <%= render 'shared/error_messages' %>
                
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
                
                <%= f.label :email %>
                <%= f.email_field :email , class: 'form-control' %>
                
                <%= f.label :univ_name %>
                <%= f.text_field :univ_name, class: 'form-control' %>
                
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
                
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>
                
                <%= f.file_field :picture , accept: 'image/jpeg, image/gif, image/png' %>
                
                <%= f.submit "Edit an Account", class: 'btn btn-primary edit-account' %>
            <% end %>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#user_picture').bind('change', function() {
        let size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
            alert('5メガバイト以上のサイズのファイルはアップロードできません。')
        }
    });
</script>