<div class="flex">
  <% posts.each do |post| %>
  <a href="<%= post_path(post.id) %>">
    <div class="card posts-index">
      <% if post.image? %>
        <%= image_tag post.image.url, class: 'post-index-image' %>
      <% else %>
       <%= image_tag 'no_image.png', class: 'post-index-image' %>
      <% end %>
        <div class="card-body" style="border-top: 1px solid rgba(207,204,204,0.5); margin-top: 5px;">
          <h5 class="card-title">投稿者：<%= post.user.name %></h5>
          <p class="card-text">サークル名：<%= post.circle_name %></p>
          <p class="card-text">大学名：<%= post.univ_name %></p>
          <p class="card-text">活動内容：<%= num_of_words post.content %></p>
        </div>
    </a>
    
    <% if current_user.already_favorited?(post) %>
      <%= link_to post_favorites_path(post), method: :delete do %>
        <i class="fas fa-heart"></i>
      <% end %>
    <% else %>
      <%= link_to post_favorites_path(post), method: :post do %>
        <i class="far fa-heart"></i>
      <% end %>
    <% end %>
    
    <%= post.favorites.count %>
    </div>
    
  <% end %>
</div>
