<div class="flex">
  <% posts.each do |post| %>
  <a href="<%= post_path(post.id) %>">
    <div class="card posts-index">
      <% if post.image? %>
        <%= image_tag post.image.url %>
      <% else %>
       <%= image_tag 'no_image.png' %>
      <% end %>
        <div class="card-body">
          <h5 class="card-title">投稿者：<%= post.user.name %></h5>
          <p class="card-text">サークル名：<%= post.circle_name %></p>
          <p class="card-text">大学名：<%= post.univ_name %></p>
          <p class="card-text">活動内容<%= simple_format post.content %></p>
          <br>
          <span>いいね</span>
        </div>
      </div>
    </a>
  <% end %>
</div>
