<%= provide(:title, @post.circle_name) %>

<% if @post.image? %>
    <%= image_tag @post.image.url %>
<% else %>
    <%= image_tag 'no_image.png' %>
<% end %>

<br>


<label>サークル名：</label>
<%= @post.circle_name %>
<br>

<label>大学名：</label>
<%= @post.univ_name %>
<br>

<label>活動内容：</label>
<%= @post.content %>
<br>

<br>
<br>

<% if current_user == @user %>
  <%= link_to '削除する', post_url(@post), method: :delete, class: 'btn btn-primary' ,data: { confirm: "投稿を削除してもよろしいですか？" } %>
<% end %>

