<%= provide(:title, @post.circle_name) %>


<div class="post-show">
    
    <% if @post.image? %>
        <%= image_tag @post.image.url, class: 'post-show-image' %>
    <% else %>
        <%= image_tag 'no_image.png', class: 'post-show-image' %>
    <% end %>
    
    <p style="margin-top: 20px;">
        サークル名：<%= @post.circle_name %> 
    </p>
    <p>
        大学名：<%= @post.univ_name %>
    </p>
    <p>
        活動内容：<%= @post.content %>
    </p>
    
    <% if current_user.already_favorited?(@post) %>
      <%= link_to post_favorites_path(@post), method: :delete do %>
        <i class="fas fa-heart"></i>
      <% end %>
    <% else %>
      <%= link_to post_favorites_path(@post), method: :post do %>
        <i class="far fa-heart"></i>
      <% end %>
    <% end %>
    <br>
    <%= @post.favorites.count %>
    <br>
    
    <p style="margin-top: 20px;">
        <a href="<%= @user.instagram %>">
            <span class="fab fa-2x fa-instagram"></span> 
        </a>
        <a href="<%= @user.twitter %>">
            <span class="fab fa-2x fa-twitter"></span> 
        </a>
        <a href="<%= @user.facebook %>">
            <span class="fab fa-2x fa-facebook"></span> 
        </a>

    </p>
    <br>
    
    <% if current_user == @user %>
      <%= link_to '削除する', post_url(@post), method: :delete, class: 'btn btn-primary' ,data: { confirm: "投稿を削除してもよろしいですか？" } %>
    <% end %>
    
</div>


